.form {
    position: relative;
    background-color: #ffffff;
    border-radius: 10px;
    text-align: center;
    min-width: 430px;
    min-height: 330px;
    max-width: 400px;
    margin: auto;
}

@media screen and (max-width: 647px){
    .form {
        max-width: 282px;
        min-width: 238px;
        min-height: 308px;
    }
}